@import 'variables';

:host {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.loader {
  &__item {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-size: 130px;
    font-weight: 600;
    transform: scale(.5);
    color: #121212;
    $effect: hover 1s linear infinite;
    @include media(sm) {
      font-size: 90px;
    }
    @include media(xxs) {
      font-size: 53px;
    }
    &:nth-child(1) {
      animation: $effect;
    }
    &:nth-child(2) {
      animation: $effect .125s;
    }
    &:nth-child(3) {
      animation: $effect .25s;
    }

    &:nth-child(4) {
      animation: $effect .375s;
    }

    &:nth-child(5) {
      animation: $effect .5s;
    }

    &:nth-child(6) {
      animation: $effect .675s;
    }

    &:nth-child(7) {
      animation: $effect .75s;
    }
  }
}


@keyframes hover {
  0% {
    transform: scale(.5);
  }

  20% {
    transform: scale(1);
  }

  50% {
    transform: scale(.5);
  }
}
