<section class="about">
  <div class="container">
    <p class="subtitle"><img src="assets/img/title-img.png">About ICO</p>
    <p class="title">About Crypto ICO</p>
    <div class="text">
      <p>Monotonectally productivate virtual benefits vis-a-vis clicks ship. Seamlessly generate user friendly</p>
    </div>
    <div class="about__wrap">
      <div class="about__item">
        <img src="../assets/img/about.png">
        <div class="about__decor">
          <img src="../assets/img/about-shape.png">
        </div>
      </div>
      <div class="about__item">
        <div class="about__box">
          <div class="about__image">
            <img src="assets/img/about/1.png" alt="">
          </div>
          <div class="about__content">
            <p class="about__title">Money Exchange</p>
            <div class="about__text">
              <p>Continually pontificate corporate deliverables through clicks-and-mortar intellectual.</p>
            </div>
          </div>
        </div>
        <div class="about__box">
          <div class="about__image">
            <img src="assets/img/about/2.png">
          </div>
          <div class="about__content">
            <p class="about__title">Balance Transfer</p>
            <div class="about__text">
              <p>Continually pontificate corporate deliverables through clicks-and-mortar intellectual.</p>
            </div>
          </div>
        </div>
        <div class="about__box">
          <div class="about__image">
            <img src="assets/img/about/3.png">
          </div>
          <div class="about__content">
            <p class="about__title">Balance Transfer</p>
            <div class="about__text">
              <p>Continually pontificate corporate deliverables through clicks-and-mortar intellectual.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
