:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  .navbar__link:not(:last-child) {
    margin-right: 10px;
  }
}

.navbar {
  &__link {
    cursor: pointer;
    font-size: 16px;
    color: #37A3FE;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 7px 20px;
    margin-bottom: 20px;
    transition: 0.3s background-color, 0.3s color;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    &.navbar__link--active {
      color: #fff;
      background-color: #37A3FE;
    }
    &:hover {
      color: #fff;
      background-color: #37A3FE;
    }
  }
}
