@import 'variables';

:host {
  display: block;
  position: relative;
  z-index: 1;
  width: calc(100% / 3 - 30px);
  padding: 29px;
  border-radius: 5px;
  margin: 0 15px;
  margin-bottom: 30px;
  background: #09185E;
  @include media(md) {
    width: calc(100% / 2 - 30px);
  }
  @include media(sm) {
    max-width: 510px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    transition: .5s;
    border-radius: 4px;
    z-index: -1;
    background: -webkit-linear-gradient(-9deg, #0A2C56 0%, #441459 97%);
  }
  &:hover {
    &:before {
      width: 100%;
      left: 0;
    }
  }
}

.feature {
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__image,
  &__schedule {
    img {
      display: block;
      max-width: 100%;
    }
  }
  &__name {
    font-size: 18px;
    line-height: 1.7;
    color: #486178;
    margin-bottom: 13px;
    font-weight: 600;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__count {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }
  &__currency {
    font-size: 16px;
    color: #375079;
    font-weight: 600;
  }
}
