<section class="call">
  <div class="container">
    <div class="call__wrap">
      <div class="call__item">
        <p class="call__title">Also available on IOS  and Android</p>
        <div class="call__text">
          <p>Completely whiteboard robust interfaces without multidiscipli has to manufactured products. Progressively myocardinate cooperat crypt technologies through principle-</p>
        </div>
        <div class="call__row">
          <div class="call__box">
            <img src="assets/img/icons/app.png" alt="app">
          </div>
          <div class="call__box">
            <img src="assets/img/icons/google.png" alt="google">
          </div>
        </div>
      </div>
      <div class="call__item">
        <div class="call__shape1">
         <img src="assets/img/phone.png" alt="phone">
        </div>
        <div class="call__shape2">
          <img src="assets/img/currency.png" alt="currency">
        </div>
      </div>
    </div>
  </div>
</section>
