<section class="info">
  <div class="container">
    <div class="info__shape">
      <img src="assets/img/info/four.png" alt="">
    </div>
    <div class="info__wrap">
      <div class="info__item">
        <div class="info__holder">
          <p class="info__title"><span>$</span>Secure & Safe Crypto Currency</p>
          <p class="info__subtitle">Make your <span>Crypto</span> Transaction</p>
          <div class="info__text">
            <p>Buy and Sales 100+ Cryptocurrencies with 20+ flat currencies market using bank transfers or your credit/debit card in your exchange type bitcoin establshed token area.
            </p>
          </div>
          <div class="info__inner">
            <button class="btn btn--info">How it works</button>
          </div>
        </div>
      </div>
      <div class="info__item">
        <div class="info__pic">
          <img src="assets/img/info/one.png" alt="">
          <div class="info__five">
            <img src="assets/img/info/five.png" alt="">
          </div>
          <div class="info__two">
            <img src="assets/img/info/two.png" alt="">
          </div>
          <app-timer></app-timer>
        </div>
      </div>
    </div>
  </div>
</section>
